{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@TPAssetsBundle/Resources/public/css/*' filter='cssrewrite'%}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@TPAssetsBundle/Resources/public/js/jquery-1.9.1.min.js'
                   '@TPAssetsBundle/Resources/public/js/bootstrap.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        
{% block body %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="{{path('homepage')}}">Essential Bundles Update</a>
            {{ knp_menu_render('ExampleBundle:Essentials:mainMenu') }}
        </div>
    </div>
{% endblock %}